<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
         
            <my-tabs>
              <!--tab de usuario -->
              <my-tab title="Usuario">
                <div class="item item-body">
                  <p>
                      Registrate con tus redes sociales.
                  </p>
                  <button class="button button-positive button-block" ng-click="SignupwithFacebook('usr')">Facebook</button>
                  <button class="button button-positive button-block" ng-click="SignupwithGoogle('usr')">Google</button>
                </div>
                <form name="signup_form" class="" novalidate> 
                  <div class="item item-body">
                    <p>
                        O con tu cuenta de correo.
                    </p>
                    <label class="item item-input">
                      <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
                    </label>
                    <label class="item item-input" show-hide-container>
                      <input type="password" placeholder="Password" name="user_password" ng-model="user.password" required show-hide-input>
                    </label>
                  </div>
                  <div class="item item-body bottom-content">
                    <button type="submit" class="button button-assertive button-block" ng-click="doSignUp('usr')" ng-disabled="signup_form.$invalid">
                     Registrarse 
                    </button>
                  </div>
                </form>
              </my-tab>
              <!--fin tab de usuario -->
              <!--tab de profesional -->
              <my-tab title="Profesional">
                <div class="item item-body">
                  <p>
                    Si eres un profesional, registrate aqui con tus redes sociales.
                  </p>
                  <button class="button button-positive button-block" ng-click="SignupwithFacebook('prf')">Facebook</button>
                  <button class="button button-positive button-block" ng-click="SignupwithGoogle('prf')">Google</button>
                </div>
                <form name="signup_form" class="" novalidate> 
                  <div class="item item-body">
                    <p>
                        O con tu cuenta de correo.
                    </p>
                    <label class="item item-input">
                      <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
                    </label>
                    <label class="item item-input" show-hide-container>
                      <input type="password" placeholder="Password" name="user_password" ng-model="user.password" required show-hide-input>
                    </label>
                  </div>
                  <div class="item item-body bottom-content">
                    <button type="submit" class="button button-assertive button-block" ng-click="doSignUp('prf')" ng-disabled="signup_form.$invalid">
                     Registrarse 
                    </button>
                  </div>
                </form>
              </my-tab>
              <!--fin tab de profesional-->
            </my-tabs>
          
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Iniciar sesion
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
