<ion-view class="slider-view">
  <ion-nav-title>
    <span>Flora de Colombia</span>
  </ion-nav-title>
  <!--desarrollo seccion-->
  <ion-content >
    <!--slide banner-->
    <div class="cont-banner">
      <ion-pane>
        <ion-slides options="optionsBanner" slider="data.slider">
          <ion-slide-page ng-repeat="banner in banners.datos">
            <div class="list card banner">
              <div class="card-header background" style="background-image:url({{banner}})" ></div>
            </div>
          </ion-slide-page>
        </ion-slides>
      </ion-pane>
    </div>
    <!--slide Busca-->
    <div class="block margin-top" >
      <div class="block-title" >
        <div class="pull-left">
          <ion-icon ></ion-icon>
          <span class="text-cut title-sec">Busca</span>
        </div>
        <div class="pull-right"ui-sref="app.buscarEspecie">
          <span class="title-all">Ver todo <i class=" icon ion-chevron-right"></i></span>
        </div>
        <div class="clear"></div>
      </div>
      <!---->
      <div class="cont-card">
        <div class="cont-hidden">
          <ion-pane>
            <ion-slides show-pager="false" options="optionscard" slider="data.slider">

              <ion-slide-page ng-repeat="flor in busquedas.datos">
                <div ui-sref="app.especie({ idEspecimen: {{flor.idPlanta}} })" class="list card sites">
                  <div class="card-header background" style="background-image:url({{flor.imagen}})" ></div>
                  <div class="padding">
                    <h5 class="text-cut name-site">{{flor.nombre}}</h5>
                    <div>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>

              </ion-slide-page>
            </ion-slides>
          </ion-pane>
        </div>
      </div>
      <hr style="text-align: center;">
    </div>
  </ion-content>

</ion-view>
