<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar bar-black">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <!--menu img avatar-->

        <!--menu img avatar-->
        <!--menu lista-->
        <div class="list-menu">

          <div class="item item-divider">
            INFORMACIÓN
          </div>
          <a class="item item-icon-left item-icon-right" nav-clear menu-close ui-sref="app.home">
            <i class="icon ion-home"></i>
            Inicio
            <i class="icon ion-chevron-right size-font-small"></i>
          </a>
          <a class="item item-icon-left item-icon-right" nav-clear menu-close ui-sref="app.buscarEspecie">
            <i class="icon ion-home"></i>
            Buscar
            <i class="icon ion-chevron-right size-font-small"></i>
          </a>

        </div>
        <!--lista dos-->
        

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
