<!--
  NOTA:
  No quitar las div que estan sin clase y contienen un "ng-if="" "
  son  las validaciones de mostrar los campos segun el tipo de perfil y la accion
  se este realizando
-->
<ion-view class="profile-view">
  <ion-nav-title>
    <span></span>
  </ion-nav-title>
  <ion-content>
    <div class="upper-content">
      <div class="upper-img-wrapper" >
        <img ng-src="{{resultado.datos.imagen}}" class="upper-img-photo" ng-model="imagenavatar"/>
      </div>
      <div class="upper-low-bar-wrapper">
          <div class="upper-low-sitename">
            {{resultado.datos.nombre}}
          </div>

      </div>
    </div>
    <div class="bottom-content">
      <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
        <md-tab label="Informacion">

          <div class="site-details">
            <div class="list-info-icon">
              <i class="icon ion-android-mail"></i>
            </div>
            <div class="site-detalles-title">Informacion:</div>
            <p class="site-details-text">
              {{resultado.datos.descripcion}}
            </p>
          </div>
        </md-tab>
        <md-tab label="Imagenes" ng-if="resultado.datos.imagenes != null">
          <div class="categories-wrapper">
            <ion-slide-box>
              <ion-slide ng-repeat="image in resultado.datos.imagenes">
                <div class="container" ng-if="slideVisible($index)" class="scrollCanvas">
                  <ion-scroll class="scrollCanvas" zooming="true" min-zoom="1" direction="xy" locked="false">
                    <div class="image" style="background-image: url( {{image}} )"></div>
                  </ion-scroll>
                </div>
                <!-- añadimos un espacio vacio para evitar problemas con slidebox y las diapositivas ocultas. Ver post dedicado a SlideBox para más información. -->
                <div>&nbsp;</div>
              </ion-slide>
            </ion-slide-box>
          </div>
        </md-tab>
        
        <md-tab label="Ubicacion" ng-if="resultado.datos.ubicaciones != null">
          <li class="li-cont-mapa-flora">
            <div class="list-info-icon" style="height: 100%; width: 35px; float: left; font-size: 22px; padding: 5px;">
              <i class="icon ion-android-pin"></i>
            </div>
              <div class="list-info-map" style="font-size: 14px; color: rgb(132, 132, 132);">
                Ubicación
              </div>
            <div class="mapWrap-establecimiento"  data-tap-disabled="true">
              <div id="map" data-tap-disabled="true"></div>
            </div>
          </li>
        </md-tab>
      </md-tabs>
    </div>
  </ion-content>
</ion-view>
